<ion-header>
  <ion-navbar>
    <ion-title>
      Video Creator
    </ion-title>
    <ion-buttons end>
      <button ion-button
        (click)="addScene()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides [pager]="true">
    <ion-slide *ngFor="let scene of scenes">
      <button ion-button
        (click)="addImage(scene)"
        *ngIf="!scene.base64Image">Add image</button>
      <img [src]="scene.base64Image"
        *ngIf="scene.base64Image" />
      <div class="slide-bottom">
        <ion-textarea placeholder="Add text"></ion-textarea>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>