<ion-content>
  <ion-slides [pager]="true">
    <ion-slide *ngFor="let scene of scenes">
      <div class="scene-media-container"
        (click)="addImage(scene)"
        [style.background-image]="scene.imageUrlStyle">
        <button class="media-button"
          (click)="addImage(scene)"
          *ngIf="!scene.base64Image && !scene.loading"></button>
        <img class="loading-indicator"
          *ngIf="scene.loading"
          src="../../assets/imgs/uploading.gif"
          alt="">
        <div class="scene-text-container">
          <input class="scene-text"
            placeholder="Add text"
            type="text">
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <div class="bottom-controls">
    <button ion-button
      outline
      icon-left
      (click)="addScene()">
      <ion-icon name="add"></ion-icon>Add scene</button>
    <button ion-button
      class="juggle-button"
      [navPush]="playPage">Juggle</button>
  </div>
</ion-footer>