page-home {
    ion-slide {
        padding: 20px;
        position: relative;

        .slide-bottom {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 100;
        }
    }

    .overlay-content {
        align-items: center;
        justify-content: center;
        width: 100%;
        button {
            align-self: center;
            // margin: auto;
        }
    }
}
