page-home {
  // .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  //     bottom: 70px;
  // }

  ion-slide {
    padding: 10px;
    padding-bottom: 30px;
    position: relative;

    .slide-zoom {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .scene-media-container {
    margin: 5px;
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(to top, #ccafd9 0%, #97bde1 100%);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 6px 1px #ccc;
  }

  .media-button {
    align-self: center;
    background: url(../../assets/imgs/add-media.svg);
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
  }

  .bottom-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .spinner {
    height: 100px;
    width: 100px;
    align-self: center;
  }

  .scene-text-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    flex-grow: 0;

    .scene-text {
      padding: 10px !important;
      width: 100%;
      border-radius: 10px;
      font-size: 26px;
      border: 1px dashed #ccc;
      padding-bottom: 20px;
      background-color: rgba(240, 240, 240, 0.6);
      outline: none;
      box-shadow: none;
    }
  }

  .bottom-controls {
    margin: 10px;

    button {
      width: 120px;
      flex-grow: 1;
      border-radius: 10px;

      &.juggle-button {
        font-weight: bold;
        background-image: linear-gradient(258deg, #55bcfc, #ca70ff);
      }
    }
  }
}

.spinner {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
